<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>board</title>
    <link rel="stylesheet" href="/board.css" />
  </head>
  <body>
    <div id="header">
      <h2>Withus Travel</h2>
    </div>

    <div id="body">
      <table>
        <thead>
          <tr>
            <th>TravelInfo ID</th>
            <th>Destination</th>
            <th>Arrival Time</th>
          </tr>
          <tr>
            <select id="destination" name="destination">
            </select>
            <button onClick="window.location.href='/page/registerTravel'">여행지 등록하기</button>
          </tr>
          </thead>
        </thead>
        <tbody id="tableBody">
          <!-- 데이터 표시 영역 -->
        </tbody>
      </table>
    </div>
    <script src="/board.js"></script>
    </script>
  </body>
</html>
